body {
    margin: 0;
    font-family: "Signika", sans-serif;
  }
  
  .top-add {
    height: auto;
    background-color: white;
  }
  
  .phone-number {
    font-size: 25pt;
    font-family: "Signika", sans-serif;
  }
  .phone-number a {
    text-decoration: none;
    color: #3d2f60;
  }
  @media screen and (max-width: 900px) {
    .phone-number {
      text-align: center !important;
    }
  }
  
  .board-header {
    padding-top: 40px;
  }
  
  #directors-row {
    margin-top: 40px;
  }
  
  #admin-row2 {
    margin-top: 40px;
  }
  
  .logo-edit {
    height: 120px;
    width: auto;
  }
  
  .photo-info > div {
    padding-bottom: 40px !important;
  }
  
  .camts {
    height: 70px;
    width: auto;
  }
  
  .topnav {
    font-family: "Monsterrat", sans-serif;
    overflow: hidden;
    background-color: #12195d;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active1 {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown1 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown1 .dropbtn1 {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content1 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown1:hover .dropbtn1 {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content1 a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown1:hover .dropdown-content1 {
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown1 .dropbtn1 {
      display: none;
    }
  
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
    .topnav.responsive .dropdown1 {
      float: none;
    }
  
    .topnav.responsive .dropdown-content1 {
      position: relative;
    }
  
    .topnav.responsive .dropdown1 .dropbtn1 {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  .format {
    background-image: url(/img/1-edit.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-columns: 50px auto;
    justify-content: start;
  }
  
  .top {
    grid-row-start: 2;
    grid-column-start: 2;
  }
  
  .bottom {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: end;
    margin: 0 !important;
    padding-top: 40px;
  }
  
  .logo-graphic {
    text-align: left;
    padding-top: 50px !important;
    padding: 0 0 !important;
    left: 0 !important;
  }
  
  .hero {
    padding: 0 !important;
  }
  
  .grey-square {
    height: 100%;
    background-color: rgba(51, 51, 51, 0.459);
    width: 85%;
  }
  
  .mission {
    color: white;
    font-size: 2vw;
  }
  @media screen and (max-width: 900px) {
    .mission {
      font-size: 4vw;
      text-align: center;
    }
  }
  
  .card-body {
    padding-top: 50px !important;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .body-nav {
    background-color: #12195d;
    min-height: 300px;
    height: auto;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }
  
  .service-icon {
    background-color: #fff;
    color: #3d2f60;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto !important;
  }
  
  .circles {
    padding-top: 40px;
  }
  
  .body-nav-content > h4 {
    color: white !important;
  }
  
  .material-icons {
    font-size: 4rem;
    margin-top: 20%;
    color: #12195d;
  }
  
  .event-home {
    padding-top: 40px;
  }
  
  .event-header > th {
    font-size: 26pt !important;
  }
  
  .calendar {
    width: 100%;
    height: 300px;
    padding-top: 30px;
  }
  @media screen and (max-width: 900px) {
    .calendar {
      width: 100%;
      padding-top: 300px;
    }
  }
  
  .month {
    padding: 10px 25px;
    width: 100%;
    background: #333;
    text-align: center;
    height: auto;
  }
  
  .list-items {
    height: 300px;
  }
  
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .month .prev {
    float: left;
    padding-top: 10px;
  }
  
  .month .next {
    float: right;
    padding-top: 10px;
  }
  
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }
  
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
  }
  
  .days li .active {
    padding: 5px;
    background: #333;
    color: white !important;
  }
  
  /* Add media queries for smaller screens */
  @media screen and (max-width: 720px) {
    .weekdays li, .days li {
      width: 13.1%;
    }
  }
  @media screen and (max-width: 420px) {
    .weekdays li, .days li {
      width: 12.5%;
    }
  
    .days li .active {
      padding: 2px;
    }
  }
  @media screen and (max-width: 290px) {
    .weekdays li, .days li {
      width: 12.2%;
    }
  }
  .body-about {
    padding-top: 100px;
    height: 1000px;
    display: flex;
  }
  @media screen and (max-width: 900px) {
    .body-about {
      flex-wrap: wrap;
    }
  }
  
  .about-text {
    color: red;
  }
  .about-text h1 {
    color: black;
  }
  .about-text p {
    color: black;
  }
  
  .logo-img {
    height: 200px;
  }
  
  .footer {
    width: 100% !important;
    padding: 60px 0 0 0;
    height: auto;
    background-color: #12195d;
    color: white;
  }
  
  .footer-head {
    height: 100px;
    padding-left: 30px;
  }
  
  .footer-body {
    height: 200px;
  }
  
  .contact-title h3 {
    font-weight: bold !important;
  }
  
  .list-style {
    text-decoration: none !important;
    color: white !important;
    font-weight: bold;
    font-size: 13pt;
  }


  .list-style :hover {
    color: grey;
  }
  .address :hover{
      color: white !important;
  }
  .list-style > li {
    list-style: none !important;
  }
  .list-style > li a {
    text-decoration: none;
    color: white;
  }
  
  .footer-links a {
    text-decoration: none;
    color: white;
  }
  
  .footer-links a:hover {
    color: grey;
  }
  
  .sponsor-links a {
    text-decoration: none;
    color: white;
  }
  
  .social-icons a {
    font-size: 30pt;
    letter-spacing: 40px;
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
  }
  
  .social-icons a:hover {
    color: grey;
  }
  
  .form-style {
    color: red;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .calendar-test {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cal-test1 {
    flex-grow: 1 1 70%;
    width: 300px !important;
  }
  
  .cal-test2 {
    padding-top: 6%;
  }
  
  .main-container-wrapper {
    background-color: #F8FAFA;
    min-width: 320px;
    min-height: 568px;
    max-width: 414px;
    overflow-y: auto;
    widows: 50%;
    border-style: solid;
    border-color: #66DCEC;
    border-width: 1px;
  }
  @media (min-width: 415px) {
    .main-container-wrapper {
      -moz-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
      -webkit-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
      box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
      margin: 24px auto;
    }
  }
  
  header {
    background-color: #fff;
    display: flex;
    height: 58px;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
  }
  
  .header__btn {
    background-color: #86D8C9;
    border: 2px solid #fff;
    border-radius: 50%;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 80px;
    padding-top: 18px;
    position: absolute;
    top: -25px;
    width: 80px;
  }
  .header__btn:hover, .header__btn:focus {
    background: #67cebb;
    transition: all 0.3s ease-in;
    outline: none;
  }
  .header__btn .icon {
    display: inline-block;
  }
  .header__btn--left {
    left: -25px;
    padding-left: 38px;
    text-align: left;
  }
  .header__btn--right {
    padding-right: 32px;
    right: -25px;
    text-align: right;
  }
  
  .calendar-setup {
    display: flex;
  }
  
  .calendar-container {
    background-color: #66DCEC;
    padding: 16px;
    margin-bottom: 24px;
  }
  .calendar-container__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20%;
    height: 40px;
  }
  .calendar-container__btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    color: #E9E8E8;
  }
  .calendar-container__btn:hover, .calendar-container__btn:focus {
    color: #9FAAB7;
    transition: all 0.3s ease-in;
  }
  .calendar-container__title {
    color: #222741;
    font-size: 20px;
    font-weight: 700;
  }
  
  .calendar-table {
    margin-top: 12px;
    width: 100%;
  }
  .calendar-table__item {
    border: 2px solid transparent;
    border-radius: 50%;
    color: #424588;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .calendar-table__item:hover {
    background: #f8fafa;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.2s all ease-in;
  }
  .calendar-table__row {
    display: flex;
    justify-content: center;
  }
  .calendar-table__header {
    border-bottom: 2px solid #F2F6F8;
    margin-bottom: 4px;
  }
  .calendar-table__header .calendar-table__col {
    display: inline-block;
    color: #99A4AE;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 3px;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
    height: 38px;
  }
  @media (min-width: 360px) {
    .calendar-table__header .calendar-table__col {
      width: 46px;
    }
  }
  @media (min-width: 410px) {
    .calendar-table__header .calendar-table__col {
      width: 54px;
    }
  }
  .calendar-table__body .calendar-table__col {
    width: 40px;
    height: 42px;
    padding-bottom: 2px;
  }
  @media (min-width: 360px) {
    .calendar-table__body .calendar-table__col {
      width: 46px;
      height: 48px;
    }
  }
  @media (min-width: 410px) {
    .calendar-table__body .calendar-table__col {
      width: 54px;
      height: 56px;
    }
  }
  .calendar-table__today .calendar-table__item {
    border-color: #FEFEFE;
    background-color: #F2F6F8;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .calendar-table__event .calendar-table__item {
    background-color: #66DCEC;
    border-color: #FEFEFE;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  .calendar-table__event--long {
    overflow-x: hidden;
  }
  .calendar-table__event--long .calendar-table__item {
    border-radius: 0;
    border-width: 2px 0;
  }
  .calendar-table__event--start .calendar-table__item {
    border-left: 2px solid #fff;
    border-radius: 50% 0 0 50%;
  }
  .calendar-table__event--start.calendar-table__col:last-child .calendar-table__item {
    border-width: 2px;
  }
  .calendar-table__event--end .calendar-table__item {
    border-right: 2px solid #fff;
    border-radius: 0 50% 50% 0;
  }
  .calendar-table__event--end.calendar-table__col:first-child .calendar-table__item {
    border-width: 2px;
  }
  .calendar-table__inactive .calendar-table__item {
    color: #DCDCE3;
    cursor: default;
  }
  .calendar-table__inactive .calendar-table__item:hover {
    background: transparent;
    box-shadow: none;
  }
  .calendar-table__inactive.calendar-table__event .calendar-table__item {
    color: #fff;
    opacity: 0.25;
  }
  .calendar-table__inactive.calendar-table__event .calendar-table__item:hover {
    background: #66DCEC;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .events-container {
    padding: 0 15px;
  }
  
  .events__title {
    text-align: center;
    margin-left: 10%;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .events__tag {
    background: #66DCEC;
    border: 2px solid #FEFEFE;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    width: 60px;
    margin-left: 16px;
    padding: 5px 2px;
    text-align: center;
  }
  .events__tag--highlighted {
    background: #FDCA40;
  }
  .events__item {
    background: #fff;
    border-left: 8px solid #86D8C9;
    border-radius: 2px;
    -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    padding: 15px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .events__item--left {
    width: calc(100% - 76px);
  }
  .events__name {
    font-size: 12px;
    font-weight: 700;
    color: #222741;
    display: block;
    margin-bottom: 6px;
  }
  .events__date {
    font-size: 12px;
    color: #9FAAB7;
    display: inline-block;
  }
  
  .heli-bullets {
    background-color: #020627;
    height: auto !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  ul:not(.browser-default) {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  ul:not(.browser-default) li {
    list-style-type: disc;
  }
  
  .spacer-content {
    line-height: 40px;
  }
  
  .par-lal {
    text-align: center !important;
    color: white;
  }
  
  .sponsor-header {
    text-align: center;
    font-size: 3vw;
    font-family: "Signika", sans-serif;
  }
  
  .sponsor-body {
    height: auto;
    padding: 40px;
  }
  
  .sponser-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .sponsor-items {
    padding: 10px;
    width: 450px;
    flex: 1;
    text-align: center;
  }
  
  .sponsor-items:hover {
    background-color: #6451941c;
    font-size: 0.9vw;
    color: #2c993e;
  }
  
  .sponsor-items h1 {
    text-decoration: none;
    color: black;
    font-family: "Signika", sans-serif;
  }
  
  .sponsor-items img {
    width: 400px;
    height: auto;
  }
  
  .sponsor-items img:hover {
    width: 500px;
    height: auto;
    transition: ease-in-out 0.2s;
  }
  
  .main-contact {
    padding-top: 200px !important;
  }
  
  .main-contact1 {
    padding-top: 150px !important;
  }
  
  .about-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  
  .heli-logo img {
    height: auto;
    width: 350px !important;
  }
  
  .about-text {
    padding-top: 30px !important;
  }
  
  .camts-logo img {
    width: 15rem;
    padding-top: 40px;
    margin-left: 30%;
  }
  
  .about-header {
    padding-top: 70px !important;
    font-size: 2vh !important;
  }
  .location-body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/locations/map_background.JPG);
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .location-wrapper{
    height: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Signika', sans-serif;
  }
  .location{
    padding: 20px;
    width: 250px;
    padding: 40px;
    
  }
  
  .location1{
    padding: 20px;
    width: 250px;
    padding-top: 30px;
  }
  .location1 img{
    width: 50%;
  }
  .location img{
    width: 200px;
    padding-top: 30px;
  }
  .location h1{
    font-family: 'Signika', sans-serif;
  }
  .photo-container{
    padding-top:50px
  }
  /*# sourceMappingURL=main.css.map */
  